@model StudVoice.BLL.DTOs.LessonDTO

@{
    ViewData["Title"] = "LessonView";
}

<h1>LessonView</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <div class="container">
            <div class="col-md-6">
                <div class="row">
                    <span>Subject:</span>
                    @Model.Name
                </div>
                <div class="row">
                    <span>Theme:</span>
                    @Model.Theme
                </div>
                <div class="row">
                    <span>Date:</span>
                    @Model.DateTime
                </div>
                <div class="row">
                    <span>Description:</span>
                    @Model.Description
                </div>
            </div>
            <div class="col-md-6">
                <span>Feedbacks:</span>
                <ul>
                    @foreach(var item in Model.LessonFeedbacks)
                    {
                        <li>
                            <span>@item.Point</span>
                            <p>@item.FeedBack</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>*@ |
    <a asp-action="Index">Back</a>
</div>
