@model StudVoice.BLL.DTOs.LessonDTO

@{
    ViewData["Title"] = "LessonView";
}

<div class="lesson-container">
    <div class="teacher-header">
        <a asp-action="Index" asp-controller="Home">
            <img src="~/Content/images/back.svg" width="30px" />
        </a>
        <h4> Lesson</h4>
    </div>

    <hr />

    <div class="container row h-75">
        <div class="col-4 justify-content-center h-100">
            <div class="row justify-content-center text-left font-weight-bolder">
                <h3>@Model.Name</h3>
            </div>
            <div class="row justify-content-center text-left font-weight-bolder">
                <h4>@Model.Theme</h4>
            </div>
            <div class="row justify-content-center text-left font-weight-bolder">
                <p>@Model.DateTime</p>
            </div>
            <div class="row justify-content-center">
                <p>
                    @Model.Description sssss sss ss ssss sssss sssssss sss ss ssss sssss sssssss sss ss ssss sssss ss sssss sss ss ssss sssss sssssss sss ss ssss sssss ss
                </p>
            </div>
            <div class="row justify-content-center">
                @{
                    if (Model.QrCode != null)
                    {
                        <img width="300" height="auto" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" />
                    }
                }
            </div>
        </div>

        <div class="lesson-feedbacks col-8 h-100">
            <label>Feedbacks:</label>
            <div class="feedbacks-container">
                <ul class="list-group">
                    @foreach (var item in Model.LessonFeedbacks)
                    {
                        <li class="list-group-item">
                            <div class="nav-item text-dark flex-column flex-column">
                                <h6 class="">Point: @item.Point / 10</h6>
                                <p class="">@item.FeedBack sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss sssss</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
