<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudVoiceMVC</title>

    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        @if (User.Identity.IsAuthenticated && User.HasClaim(System.Security.Claims.ClaimTypes.Role, "Teacher"))
        {
            <header class="avatar" onclick="location.href='@Url.Action("Teacher", "Home", new { Name = User.Identity.Name })'">
                <div class="avatar-wrapper">
                    <img src="~/Content/images/avatar.png" />
                </div>
                <div class="page-link-wrapper">
                    <h2>@User.Identity.Name</h2>
                </div>
            </header>
        }
        else if (User.Identity.IsAuthenticated && User.HasClaim(System.Security.Claims.ClaimTypes.Role, "Student"))
        {
            <header class="avatar">
                <div class="avatar-wrapper">
                    <h2>Student</h2>
                </div>
                <div class="page-link-wrapper">
                    <h2>@User.Identity.Name</h2>
                </div>
            </header>
        }
        <ul>
            <li tabindex="0" class="icon-main" onclick="location.href='@Url.Action("Index","Home")'"><span>Home</span></li>
            <li tabindex="1" class="icon-top-faculties"><span>Top Faculties</span></li>
            <li tabindex="2" class="icon-top-teachers"><span>Top Teachers</span></li>
            <li tabindex="3" class="icon-top-lessons"><span>Top Lessons</span></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li tabindex="4" class="icon-login" onclick="location.href='@Url.Action("Logout", "Account")'"><span>Logout</span></li>
            }
            else
            {
                <li tabindex="4" class="icon-login" onclick="location.href='@Url.Action("Login", "Account")'"><span>Login</span></li>
            }
        </ul>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
