
@{
    ViewData["Title"] = "RegisterTeacher";
}

<h1>RegisterTeacher</h1>
<style>
    .input-validation-error {
        border: 2px solid #ff0000;
    }

    .field-validation-error {
        color: #ff0000;
    }
</style>

@model StudVoice.BLL.DTOs.RegisterTeacherDTO
@using StudVoice.DAL;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname)
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Patronym, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Patronym)
                @Html.ValidationMessageFor(model => model.Patronym)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContactPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactPhone)
                @Html.ValidationMessageFor(model => model.ContactPhone)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Faculty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Faculty" id="listbox">
                    @using (StudVoiceDBContext db = new StudVoiceDBContext())
                    {
                        @foreach (var item in db.Faculties)
                        {
                            <option value="@item.Name">
                                @item.Name
                            </option>
                        }
                    }
                </select>

                @Html.ValidationMessageFor(model => model.Faculty)
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Department)
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}
