@model StudVoice.BLL.DTOs.TeacherDTO

@{
    ViewData["Title"] = "TeacherView";
}

<div class="teacher-header">
    <a  asp-action="Index" asp-controller="Home">
        <img src="~/Content/images/back.svg" width="30px" />
    </a>
    <h4>Teacher</h4>
</div>

<hr />

<div class="container row teacher-container">
    <div class="col-4 justify-content-center">
        <div class="row justify-content-center">
            <img src="~/Content/images/avatar.png" />
        </div>
        </br>
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                @Model.Name
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-6 text-center">
                <p class="small ">id:@Model.Id</p>
            </div>
        </div>
        <div class="row justify-content-center">
            @{
                if (Model.QrCode != null)
                {
                    <img width="300" height="auto" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" />
                }
            }
        </div>  
    </div>
    <div class="col-8 h-100">
        <div class="teacher-lessons">
            <div class="lessons-header">
                <div>
                    <label class="card-title w-100">Lessons:</label>
                </div>
                <button class="add-lesson-btn btn" onclick="location.href='@Url.Action("CreateLessonForm","Home",new { teacherid = @Model.Id })'">
                    Add
                    <img class="add-lesson-img" src="~/Content/images/add.png"/>
                </button>
            </div>
            <div class="lessons-container">
                <ul class="list-group">
                    @foreach (var item in Model.Lessons)
                    {
                        <li class=" list-group-item" href="#" onclick="location.href='@Url.Action("Lesson","Home",new { Id = item.Id })'">
                            <a class="nav-item text-dark">
                                <span>@item.Name</span>
                                <span>@item.DateTime</span>
                                @{ 
                                    double avgMark = 0;
                                    item.LessonFeedbacks.ToList().ForEach(x => avgMark += x.Point);
                                    avgMark /= item.LessonFeedbacks.Count();
                                }
                                <span>Mark: @avgMark.ToString("F")</span>

                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="teacher-feedbacks">
            <label>Feedbacks:</label>
            <div class="feedbacks-container">
                <ul class="list-group">
                    @foreach (var item in Model.TeacherFeedBacks)
                    {
                        <li class=" list-group-item">
                            <a class="nav-item text-dark" asp-controller="Home" asp-action="Feedback">
                                <span class="col-9">@item.Feedback</span>
                                <span class="col-2">Point: @item.Point / 100</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>