@model StudVoice.BLL.DTOs.TeacherDTO

@{
    ViewData["Title"] = "TeacherView";
}

<h1>TeacherView</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <label> Photo</label>
            </div>
            <div class="col-sm-4">
                <img src="~/Content/images/avatar.png" width="300" height="200" />
            </div>
            <div class="col-md-2">
                <a class="nav-item text-dark" asp-area="" asp-controller="Home" asp-action="CreateLesson">CreateLesson</a>
            </div>
            <div class="col-sm-1">
                <label>Lessons:</label>
                <div class="col-md-4">
                    <ul>
                        @foreach (var item in Model.Lessons)
                        {
                            <li>
                                <a class="nav-item text-dark" asp-controller="Home" asp-action="Lesson" asp->
                                    <span>@item.Name</span>
                                    <span>@item.DateTime</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Id</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.Id)
            </div>
            <div class="col-sm-2">
                <label>Feedbacks</label>
            </div>
            <div class="col-md-6">
                <datalist>
                    @Html.DisplayNameFor(model => model.TeacherFeedBacks)
                </datalist>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Name</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </div>
    </div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>*@ |
    <a asp-action="Index">Back</a>
</div>
