@model StudVoice.DAL.Teacher

@{
    ViewData["Title"] = "TeacherView";
}

<h1>TeacherView</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <div class="container">
        <div class="col-md-16">
            <div class="row">
                <div class="col-sm-2">
                    <label> Photo</label>
                </div>
                <div class="col-sm-4">
                    <img src="~/imgs/avatar-user.jpg" width="300" height="200" />
                </div>
                <div class="col-md-2">
                    <input type="button" value="Create lesson"/>
                </div>
                <div class="col-sm-2">
                    <label>Lessons</label>
                </div>
                <div class="col-md-4">
                    <datalist>
                        @Html.DisplayNameFor(model => model.Lessons)
                    </datalist>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Id</label>
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Id)
                </div>
                <div class="col-sm-2">
                    <label>Feedbacks</label>
                </div>
                <div class="col-md-6">
                    <datalist>
                        @Html.DisplayNameFor(model => model.TeacherFeedbacks)
                    </datalist>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Name</label>
                </div>
                <div class="col-md-6">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>*@ |
    <a asp-action="Index">Back</a>
</div>
